.element__button-delete {
    cursor: pointer;
    background-image: url('../../../images/delete_button.svg');
    background-color: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 19px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    width: 18px;
    height: 19px;
}

.element__button-delete:hover {
    opacity: .5;
}